<h1>Created new Chat Room!</h1>
<p>Careful! The following Room ID and Password is required to login to the Chatroom. This Information is not stored anywhere, please safe it somewhere.</p>
<h3>Details:</h3>
<ul>
    <li>Room ID: <%= result.room %></li>
    <li>Password: <%= result.password %></li>
</ul>
<a href="/">Login</a>