.error-container {
    position: relative;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.error-img {
    margin-top: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; 
    box-shadow: -2px -2px 5px var(--box-shadow-color);
}

.overlay-text-container {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    
}

.overlay-text {
    color: rgb(180, 180, 180);
    
}

.home-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}