.form-container {
    display: grid;
    margin: 20vh auto;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    max-width: 800px;
    gap: 3rem;
}

.create-container,
.join-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.create-container {
    justify-content: center;
}

.join-container {
    justify-content: space-between;
}

.join-form,
.create-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/***************** Media Queries *********************/

@media (max-width: 720px) {
    .form-container {
        grid-template-columns: 1fr;
        margin: 1vh auto;
        gap: 2rem;
    }
}