.form-container {
    display: grid;
    margin: 20vh auto;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.create-container,
.join-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-container {
    justify-content: center;
}

.join-container {
    justify-content: space-between;
}